DATABASE_URL="postgresql://fleet:fleet@localhost:5432/fleet_management?schema=public"
PORT="4000"
CLIENT_ORIGIN="http://localhost:5173"
VITE_API_URL="http://localhost:4000/api"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
AWS_REGION="ap-south-1"
AWS_S3_ANALYTICS_BUCKET="fleet-analytics-logs"
AWS_S3_LOGS_BUCKET="fleet-api-access-logs"
AWS_LAMBDA_ANALYTICS_FUNCTION="fleet-analytics-lambda"